{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<section id="introduce">
    {% include 'partials/introduce.html.twig' %}
</section>
<section id="aboutus">
    {% include 'partials/aboutus.html.twig' %}
</section>
<section id="products">
    {% include "partials/products.html.twig" %}
</section>

{% endblock %}
