{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<section id="home-item">
    {% include 'partials/introduce.html.twig' %}
</section>
<section id="us-item">
    {% include 'partials/aboutus.html.twig' %}
</section>
<section id="products">
    {% include "partials/products.html.twig" %}
</section>
<section id="contact-item">
    {% include "partials/contact.html.twig" %}
</section>
{% endblock %}

