{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<section id="home-item">
    {% include 'partials/introduce.html.twig' %}
</section>
<section id="us-item">
    {% include 'partials/aboutus.html.twig' %}
</section>
<section id="products">
    {% include "partials/products.html.twig" %}
</section>
<hr class="my-3" style="width:50%">
<section id="contact-item">
    {% include "partials/contact.html.twig" %}
</section>
{% include "partials/footer.html.twig" %}
{% endblock %}

