<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">LesReinesDuTricot</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Qui sommes nous ?</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Nos produits</a>
        <div class="dropdown-menu">
            {% for cat in category %}
                <a class="dropdown-item" href="#">{{ cat.name }}</a>
            {% endfor %}
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">F.A.Q</a>
      </li>
    </ul>
</nav>
<div id="alerts">
  {% for message in app.flashes('success') %}
      <div class="alert alert-success mx-auto text-center col-md-6 col-xs-12">
          {{ message }}
      </div>
  {% endfor %}
  {% for message in app.flashes('error') %}
      <div class="alert alert-danger mx-auto text-center col-md-6 col-xs-10">
          {{ message }}
      </div>
  {% endfor %}
</div>