/************** GENERAL **************/

@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Pacifico-Regular";
    src: url("../fonts/Pacifico-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-Bold";
    src: url("../fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-Thin";
    src: url("../fonts/Poppins-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-Light";
    src: url("../fonts/Poppins-Light.ttf") format("truetype");
}
html {
    max-width: 100%;
    overflow-x: hidden;
    height: 100vh;
}

body {
    min-height: 100% !important;
    font-family: "Poppins" !important;
    font-size: 2em;
    margin: 0;
    padding-bottom: 7em;
    position: relative;
}

p {
    font-family: "Poppins" !important;
}

ul {
    list-style: none;
}

.font_title {
    font-family: "Pacifico-Regular";
}

.image_rounded_medium {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid silver;
}

.container_top, .jumbotron {
    margin-top:5em;
}

#alerts {
    margin-top: 5em;
} 

.table-hover tr:hover {
    background-color: rgb(247, 157, 157) !important;
}

.avatar {
    width: 200px;
    height: auto;
}

.avatar_rounded {
    border-radius: 50%;
}

.margin_navbar {
    margin-top: 150px;
}

.margin_navbar_plus {
    margin-top: 200px;
}

.margin_navbar_light {
    margin-top: 50px;
}

.alert-success {
    border-radius: 25px !important;
}

/************************* NAVBAR **************************/

#navbar {
    width: 100%;
    position: fixed !important;
    z-index: 1000;
    height: 150px;
    top: 0;
}

.avatar-navbar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#navbar ul li a {
    font-size: 1.3em;
    color: black;
    font-weight: 800;
    border-bottom: 2px solid transparent;
    padding-bottom: 0px !important;
}

#navbar ul li a:hover {
    color: white;
    transition: 0.2s;
}


@keyframes underline {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

#cart_logo i:hover {
    border-bottom: 2px solid transparent !important;    
}

.dropdown_category div {
    background-color: #ffd700;
}

.dropdown_category div a {
    font-size: 1em !important;
}
.dropdown_category div a:hover {
    background-color: #96A641 !important;
}

.navbar_scroll {
    height: 50px !important;
    background-color: rgb(255, 215, 0, 0.5);
    transition: 1s;
}

.navbar_top {
    height: 150px;
    background-color: gold;
    transition: 0.5s;
}

/************************* INTRODUCE & CAROUSEL **************************/

#introduce_us {
    background: url(../images/website/background_intro.png);
    padding: 0.5em;
    border-radius: 0 0 25px 25px;
}

#introduce_us .jumbotron {
    opacity: 0.5;
}

#carouselExampleControls {
    width: 50%;
    height: auto;
}

.carousel_img {
    border-radius: 25px !important;
}

#last_products_add {
    background-color: rgb(36, 43, 55) ;
    border-radius: 0 0 50px 50px;
}

/************************* ABOUT US **************************/

#about_us {
    background-color: #242B37;
    color: white;
}

.introduce_images {
    margin-top: 2em;
    display: flex; 
    justify-content: center;
}

.one_image {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

/************************* PRODUCTS **************************/

#all_products {
    background-color: gold;
}

.title_products {
    font-size: 3em;
}

 .cat_title {
    font-size: 2.5em !important;
    text-decoration: underline;     
 }

 #table_products tr td, #table_category tr td, #table_users tr td  {
     vertical-align: middle !important;
 }

.card_product {
    border-radius: 25px !important;
}

.card-footer {
    background-color: #242B37 !important;
    color: white;
    border-radius: 0 0 25px 25px !important;
}

 /************************ PICTURES **************************/

.mini_picture {
    width: 80px;
    height: 80px; 
    border-radius: 50%;
}

/************************** CONTACT *************************/

#contact, #form_subscribe, #form_submit, #profile_user, #form_updatePassword, #unregistered_user {
    background-color: #242B37;
    color: white;
    padding: 2em;
}

/************************** FAQ *************************/

#faq_answer {
    height: 200px !important;
}

.arrow_question:hover {
    color: rgb(28, 128, 241) !important;
}

 /************************ FORM SUBSCRIBE **************************/

#form_subscribe, #form_submit, #profile_user, #form_updatePassword, #unregistered_user {
    border-radius: 25px;
}

 /************************ FOOTER **************************/

 footer {
     width: 100%;
     bottom: 0;
     display: flex; 
     flex-direction: column;
     background-color: black;
     color: white;
     padding: 2em;
     justify-content: center;
     align-items: center;
     position: absolute;
 }

 #footer_links {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }

 #footer_links .row a {
     text-decoration: none;
     color: white;
 }

 #footer_links .row a:hover {
    color: rgb(37, 142, 240);
}
