{% extends "admin/base.html.twig" %}

{% block title %}Gestion des produits{% endblock %}

{% block body %}
    <div class="container my-3">
        <h1 class="text-center my-3">
            {% if exist %}
                Modification du produit : {{ product.title }}
            {% else %}
                Ajout d'un produit
            {% endif %}
        </h1>
        <div class="row">
            <div class="col-md-8 col-xs-12 mx-auto">
                {{ form_start(form)}}
                    {{ form_widget(form)}}
                    <button class="btn btn-success">Valider</button>
                {{ form_end(form)}}
            </div>
        </div>
    </div>

{% endblock %}