{% extends "base.html.twig" %}

{% block title %}Changement de mot de passe{% endblock %}

{% block body %}
    <div class="container mx-auto">
        <h1 class="my-3 text-center">Changement de mot de passe :</h1>
        <div class="col-md-6 col-xs-12 mx-auto">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn btn-success">
                    <i class="fas fa-check"></i>
                    Valider
                </button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}