{% extends "base.html.twig" %}

{% block title %}Changement de mot de passe{% endblock %}

{% block body %}
    <div class="container col-md-8 col-xs-12 mx-auto">
        <h1 class="text-center">Mise à jour de votre mot de passe :</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-success">Valider</button>
        {{ form_end(form) }}
    </div>
{% endblock %}