<html lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">      
</head>
<style>
body, p {
    font-family: 'Roboto';
}
</style>
    <body>
        <div class="container p-3 mx-auto">
            {{ message | raw }}
        </div>
    </body>
</html>
